.main_scroll {
  position: relative;
  margin: 0 30px 0 20px;
}
.mycarousel {
  
}
.mycarousel li {
	/* position: relative; */
  width: 218px;
}
.jcarousel-clip {
	overflow: hidden;
}
.jcarousel-prev, .jcarousel-next {
	width:23px;
	height:23px;
	position:absolute;
	top:140px;
}
.jcarousel-prev:hover, .jcarousel-next:hover {
	cursor: pointer;
}
.jcarousel-prev {
	background:url(../images/goods_slider-larr.png) no-repeat 0 0;
	left: -45px;
}
.jcarousel-next {
	background:url(../images/goods_slider-rarr.png) no-repeat 0 0;
	right: -30px;
}
.jcarousel-prev:hover, .jcarousel-next:hover, .jcarousel-prev-disabled, .jcarousel-next-disabled {
	/* background-position:100% 0; */
}


.jcarousel-container-horizontal {
    
}
.jcarousel-item-placeholder {
  background: #fff;
  color: #000;
}


.page_scroll {
  position: relative;
  margin: 0 50px 0 0px;
}
.page_scroll .jcarousel-prev {
	background:url(../images/goods_slider-larr.png) no-repeat 0 0;
	top: 110px;
  left: -35px;
}
.page_scroll .jcarousel-next {
	background:url(../images/goods_slider-rarr.png) no-repeat 0 0;
	top: 130px;
  right: -30px;
}


.slide_block {
  position: relative;
}
.slide_block .jcarousel-prev {
  display: block;
	position: absolute;
	top: 32px;
	left: -10px;
  width: 11px;
	height: 16px;
	background: url(../images/botslider_larr.png) no-repeat 0 0;
}
.slide_block .jcarousel-next {
  display: block;
	position: absolute;
	top: 32px;
	right: -7px;
  width: 11px;
	height: 16px;
  background: url(../images/botslider_rarr.png) no-repeat 0 0;
}





/* вертикальная карусель */

.vertical_slider {
  position: relative;
}

.vertical_slider .jcarousel-clip-vertical {
  width: 170px;
  height: 500px;
  margin-top: 0px;
  /* padding-top: 125px; */
}
.vertical_slider .jcarousel-item-vertical {
  margin-bottom: 10px;
}
.vertical_slider .jcarousel-next-vertical, .vertical_slider .jcarousel-prev-vertical {
	position: absolute;
	z-index: 5;
	left: 62px;
  width:16px;
	height:22px;
	cursor: pointer;          
}
.vertical_slider .jcarousel-prev-vertical {
	background:url(../images/mainleft_slide-tarrow.png) no-repeat 0 0;
  top: -15px;
}
.vertical_slider .jcarousel-next-vertical {
	background:url(../images/mainleft_slide-barrow.png) no-repeat 0 0;
  top: 500px;
}

/* END вертикальная карусель */
